body {
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:blue;
}

.container {

    background-color:white;
    padding: 20px;
    text-align: center;
}


#weather-icon {
    width: 100px;
    height: 100px;
}

#temperature, #description, #humidity, #wind_speed {
    font-size: 16px;
}

#city-input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
}

#search-button {
    padding: 10px 20px;
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
}